h1 {
    color: black;
    font-size: xx-large;
  }

h2{
    text-align: center;
    font-size: x-large;
  }
.frontList {
    text-align: left;
    padding-left: 50px;
}
  
 table{
    border: 1px solid black;
    width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
  }

th {
    border: 1px solid black;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    background-color: #79b8ff;
    border-collapse: collapse;
    color: white;
}

.number {
    width: 5%;
}

.title {
    width: 55%;
}

.director {
    width: 40%;
    
}

td {
    border: 1px solid black;
    text-align: left;
    padding: 5px;
    font-size: 19px;
}

